<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<style>
input[type=text], [type=number], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>

    <meta charset="UTF-8"/>
    <title>S.I.M.A.</title>

</head>

<h3>Add Student</h3>

    <form th:action="@{/students-add}" th:object="${student}" method="post">
        <div>
            <label>Name</label>
            <input type="text"  id="studentName" th:field="*{name}" name="studentName">
        </div>

        <div>
            <label>Add Class</label>
            <select id="classId" name="class_" th:field="*{class_id}">
                <option th:each="class_ : ${classes_list}" th:value="${class_.id}" th:text="${class_.name}" />
            </select>
        </div>

        <div>
            <label>Sex</label>
            <select id="sexId" name="sex" th:field="*{sex}">
                <option value="0">Selecione</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>

        <div>
            <label>CPF</label>
            <input type="text" id="studentCPF" th:field="*{cpf}"  name="studentCPF">
        </div>

        <button type="submit">Submit</button>
    </form>
</html>